<section class="section cars">
  <div class="section__content cars__content">
    <h3 class="cars__content-title">Choose your car</h3>
    <nav class="cars__content-menu">
      <li class="cars__content-menu-item">
        <a href="#" class="cars__content-menu-item-link">Car and Minivan</a>
      </li>

      <li class="cars__content-menu-item">
        <a href="#" class="cars__content-menu-item-link">Trucks</a>
      </li>

      <li class="cars__content-menu-item">
        <a href="#" class="cars__content-menu-item-link">Crossovers & SUVs</a>
      </li>

      <li class="cars__content-menu-item">
        <a href="#" class="cars__content-menu-item-link">Electrified</a>
      </li>
    </nav>

    <div class="cars__content-cards">
      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-1.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Toyota Crown 2023</h5>
          <span>starting from $ 39900</span>
          <span>$ 650/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-2.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Prius Prime 2023</h5>
          <span>starting from $ 39900</span>
          <span>$ 450/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-3.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Toyota Prius 2023</h5>
          <span>starting from $ 39900</span>
          <span>$ 400/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-4.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Hyundai Kona 2023</h5>
          <span>starting from $ 39900</span>
          <span>$ 510/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-5.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">
            Ford Explorer 2023
          </h5>
          <span>starting from $ 39900</span>
          <span>$ 1,013/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-6.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Santa Fe 2023</h5>
          <span>starting from $ 39900</span>
          <span>$ 739/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-7.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">KIA Niro 2023</h5>
          <span>starting from $ 33600</span>
          <span>$ 554/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-8.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">
            Chevrolet Silverado
          </h5>
          <span>starting from $ 62260</span>
          <span>$ 1,032/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-9.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Honda CR-V 2023</h5>
          <span>starting from $ 35650</span>
          <span>$ 591/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-10.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Hyundai Tucson</h5>
          <span>starting from $ 31885</span>
          <span>$ 528/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-11.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">Chevrolet Equinox</h5>
          <span>starting from $ 28430</span>
          <span>$ 471/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>

      <article class="cars__content-cards-card">
        <div class="cars__content-cards-card-picture">
          <img src="../../assets/images/cars-img/picture-12.jpg" alt="" />
        </div>

        <div class="cars__content-cards-card-info">
          <h5 class="cars__content-cards-card-info-title">
            Jeep Wrangler 2023
          </h5>
          <span>starting from $ 60000</span>
          <span>$ 997/mo</span>
          <a href="#" class="cars__content-cards-card-info-link">see details</a>
        </div>
      </article>
    </div>
  </div>
</section>
