<section class="section welcome">
  <div class="section__content welcome__content">
    <h3 class="welcome__content-title">WELCOME TO D&M LEASING</h3>
    <h4 class="welcome__content-subtitle">
      Find out how easy it is to lease from D&M
    </h4>
    <iframe
      class="welcome__content-video"
      width="1000"
      height="500"
      src="https://www.youtube.com/embed/F-Vz60csXDw?si=_Wgm2Rl14WpAvpzc&amp;controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</section>
