<section class="section leasing">
  <div class="section__content leasing__content">
    <h3 class="leasing__content-title">How Does Leasing Work?</h3>
    <p class="leasing__content-text">
      Leasing a vehicle is essentially entering into a long term rental
      agreement for that vehicle. Unlike a traditional car purchase, you don’t
      actually own the vehicle. Instead, a leasing company purchases the vehicle
      from the dealer on your behalf and then you make monthly payments to the
      leasing company for the duration of your lease. Some leases however, do
      provide the option to purchase the vehicle at the end of the lease.
    </p>

    <div class="leasing__content-rules">
      <h4 class="leasing__content-rules-subtitle">
        Similar to a short term car rental, there are rules that define:
      </h4>

      <ol class="leasing__content-rules-list">
        <li class="leasing__content-rules-list-item">
          <p class="leasing__content-rules-list-item-text">
            How much you can drive, stated as annual miles (excess miles are
            charged at a specified rate)
          </p>
        </li>

        <li class="leasing__content-rules-list-item">
          <p class="leasing__content-rules-list-item-text">
            Types of damage that you may be liable for at the end of your lease
          </p>
        </li>

        <li class="leasing__content-rules-list-item">
          <p class="leasing__content-rules-list-item-text">
            The procedures and costs when you return the vehicle at the end of
            your lease
          </p>
        </li>
      </ol>

      <p class="leasing__content-rules-text">
        Lease contracts are a commitment and ending them early can be difficult
        and expensive so it is important to consider your circumstances
        carefully before you decide.
      </p>
    </div>
  </div>
</section>
