<section class="section important">
  <div class="section__content important__content">
    <h3 class="important__content-title">Important Things to Consider</h3>
    <p class="important__content-text">
      Depending on your circumstances and what is important to you, a lease
      could be a great option for your next vehicle. Below are some important
      factors that may influence your decision.
    </p>

    <div class="important__content-info">
      <article class="important__content-info-item">
        <div class="important__content-info-item-picture">
          <img src="../../assets/images/important-img/picture-1.png" alt="" />
        </div>

        <p class="important__content-info-item-text">
          Monthly payments on leases are generally 20% - 30% cheaper than loans
        </p>
      </article>

      <article class="important__content-info-item">
        <div class="important__content-info-item-picture">
          <img src="../../assets/images/important-img/picture-2.png" alt="" />
        </div>

        <p class="important__content-info-item-text">
          You may be eligible for a tax break if you use the leased vehicle for
          business purposes
        </p>
      </article>

      <article class="important__content-info-item">
        <div class="important__content-info-item-picture">
          <img src="../../assets/images/important-img/picture-3.png" alt="" />
        </div>

        <p class="important__content-info-item-text">
          Easy to upgrade to the newest vehicle model every few years
        </p>
      </article>

      <article class="important__content-info-item">
        <div class="important__content-info-item-picture">
          <img src="../../assets/images/important-img/picture-4.png" alt="" />
        </div>

        <p class="important__content-info-item-text">
          There are often fees charged if you drive more than your lease's
          mileage allowance
        </p>
      </article>
    </div>
  </div>
</section>
