<section class="section main">
  <div class="main__container">
    <h1 class="main__container-title">Leasing From D&M</h1>
    <button class="main__container-button">FIND A CAR</button>
  </div>

  <div class="main__slider">
    <div class="main__slider-wrapper">
      <div class="main__slider-wrapper-content">
        <div
          class="main__slider-wrapper-content-slide"
          style="
            background-image: url(../../assets/images/main-img/slider-car.png);
          "
        ></div>
        <div
          class="main__slider-wrapper-content-slide"
          style="
            background-image: url(../../assets/images/main-img/slider-car.png);
          "
        ></div>
        <div
          class="main__slider-wrapper-content-slide"
          style="
            background-image: url(../../assets/images/main-img/slider-car.png);
          "
        ></div>
        <div
          class="main__slider-wrapper-content-slide"
          style="
            background-image: url(../../assets/images/main-img/slider-car.png);
          "
        ></div>
      </div>
    </div>
  </div>
</section>
