<section class="section contact">
  <div class="section__content contact__content">
    <h3 class="contact__content-title">Contact Us</h3>
    <p class="contact__content-text">
      Feel free to contact us with questions, potencial partnerships or media
      inquiries
    </p>

    <form action="#" class="contact__content-form">
      <input
        class="contact__content-form-input"
        type="text"
        placeholder="Name"
      />
      <input
        class="contact__content-form-input"
        type="email"
        placeholder="E-mail"
      />
      <textarea
        class="contact__content-form-textarea"
        placeholder="Your text"
      ></textarea>
      <button class="contact__content-form-button" type="submit">SUBMIT</button>
    </form>
  </div>
</section>
