<section class="section header">
  <div class="section__content header__content">
    <div class="header__content-logo">
      <img src="../../assets/icons/header-icons/logo.png" alt="" />
    </div>

    <nav class="header__content-nav">
      <div class="header__content-nav-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="header__content-nav-menu">
        <li class="header__content-nav-menu-item">
          <a href="#" class="header__content-nav-menu-item-link">NEW CARS</a>
        </li>

        <li class="header__content-nav-menu-item">
          <a href="#" class="header__content-nav-menu-item-link"
            >PRE-OWNED CARS</a
          >
        </li>

        <li class="header__content-nav-menu-item">
          <a href="#" class="header__content-nav-menu-item-link">FINANCE</a>
        </li>

        <li class="header__content-nav-menu-item">
          <a href="#" class="header__content-nav-menu-item-link"
            >LEASE VS BUY</a
          >
        </li>

        <li class="header__content-nav-menu-item">
          <a href="#" class="header__content-nav-menu-item-link">CONTACT US</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
