<section class="section footer">
  <div class="section__content footer__content">
    <nav class="footer__content-menu">
      <ul class="footer__content-menu-list">
        <h5 class="footer__content-menu-list-title">Products</h5>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Used </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> New </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link">
            Sell your car
          </a>
        </li>
      </ul>

      <ul class="footer__content-menu-list">
        <h5 class="footer__content-menu-list-title">Resources</h5>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Blog </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> FAQ </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link">
            Contact us
          </a>
        </li>
      </ul>

      <ul class="footer__content-menu-list">
        <h5 class="footer__content-menu-list-title">Work With TrueCar</h5>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Dealers </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Partners </a>
        </li>
      </ul>

      <ul class="footer__content-menu-list">
        <h5 class="footer__content-menu-list-title">About</h5>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> About us </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Team </a>
        </li>

        <li class="footer__content-menu-list-item">
          <a href="#" class="footer__content-menu-list-item-link"> Careers </a>
        </li>
      </ul>
    </nav>

    <ul class="footer__content-app">
      <li class="footer__content-app-item">
        <a href="#" class="footer__content-app-item-link">
          <img
            class="footer__content-app-item-link-img"
            src="../../assets/images/footer-img/app-store-img.svg"
            alt=""
          />
        </a>
      </li>

      <li class="footer__content-app-item">
        <a href="#" class="footer__content-app-item-link">
          <img
            class="footer__content-app-item-link-img"
            src="../../assets/images/footer-img/google-img.svg"
            alt=""
          />
        </a>
      </li>
    </ul>

    <div class="footer__content-copy">
      <p class="footer__content-copy-text">
        For questions about the TrueCar Auto Buying Service please call
        1-888-878-3227.<br />
        Certified Dealers are contractually obligated by TrueCar to meet certain
        customer service requirements and complete the TrueCar Dealer
        Certification Program.
      </p>

      <p class="footer__content-copy-text">
        TrueCar does not broker, sell, or lease motor vehicles. Unless otherwise
        noted, all vehicles shown on this website are offered for sale by
        licensed motor vehicle dealers. All vehicles are subject to prior sale.
        By accessing this website, you agree to the TrueCar Terms of Service and
        Privacy Policy.
      </p>
    </div>

    <ul class="footer__content-info">
      <li class="footer__content-info-item">Terms of Service</li>

      <li class="footer__content-info-item">Privacy Policy</li>

      <li class="footer__content-info-item">
        Do Not Sell My Personal Information
      </li>
    </ul>
  </div>
</section>
