:root {
  // colors
  --white-color: #fff;
  --blue-ribbon-color: #0066ff;
  --matt-black-color: #151515;
  --unicorn-silver-color: #e8e8e8;

  // font
  --main-font: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-default: 16px;
  --font-size-title: 48px;
}

// $main-font: "Poppins", sans-serif;
// $font-weights: (
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
// );
// $fz: 14px;
// $black-out: #222;
// $squant: #666;
// $niu-denim: #0278ed;
// $portland-orange: #ff5437;
// $merins-fire: #ff9209;
// $leo-fuchsia: #e738ce;
// $maldives: #00c6df;
// $vega-violet: #b25df8;
// $color-change: (
//   "default": $black-out,
//   "primary": $niu-denim,
//   "warning": $portland-orange,
//   "error": $merins-fire,
//   "success": $leo-fuchsia,
//   "danger": $maldives,
//   "polite": $vega-violet,
// );
