:root {
  // colors
  --white-color: #fff;
  --blue-ribbon-color: #0066ff;
  --matt-black-color: #151515;
  --unicorn-silver-color: #e8e8e8;

  // fonts
  --main-font: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-default: 16px;
  --font-size-text: 24px;
  --font-size-title: 48px;
}
